<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="saxophone" class="com.springinaction.springidol.Saxophone"/>

    <bean id="kenny" class="com.springinaction.springidol.Instrumentalist">
        <property name="song" value="'Pubg theme music'"/>

        <!--    ___Внедрение другого компонента в свойство компонента___-->
        <!--    Другой основной особенностью выражений на языке SpEL-->
        <!--    является возможность ссылаться на другие компоненты по их идентификаторам .-->
        <!--    Например, с помощью выражения на языке SpEL можно внедрить компонент в свойство другого компонента:-->
        <property name="instrument" value="#{saxophone}"/>
    </bean>


    <bean id="carl" class="com.springinaction.springidol.Instrumentalist">
        <!--    ____Обращения к свойству другого компонента____-->
        <!--    Допустим, что необходимо настроить новый компонент Instrumentalist с идентификатором carl. -->
        <!--    Карл – необычный музыкант, он – подражатель. Вместо собственного музыкального произведения-->
        <!--    Карл будет исполнять то же произведение, что исполняет Кенни.-->
        <property name="song" value="#{kenny.song}"/>
        <property name="instrument" value="#{saxophone}"/>
    </bean>



<!--    ____Обращение к методу другого компонента____-->
<!--    Возможность обращения к свойствам – не единственное, что-->
<!--    можно делать с компонентами. Точно так же можно вызывать методы компонентов. -->
<!--    Например, имеется компонент songSelector с методом selectSong(), -->
<!--    возвращающим музыкальное произведение для исполнения.-->
    <bean id="songSelector" class="com.springinaction.springidol.SongSelector"/>


<!--    В этом случае Джереми мог бы исполнять произведения, предлагаемые компонентом songSelector:-->
    <bean id="jeremy" class="com.springinaction.springidol.Instrumentalist">
        <property name="song" value="#{songSelector.selectSong()}"/>
        <property name="instrument" value="#{saxophone}"/>
    </bean>

</beans>